/* .button {
	background-color: lightgray;
	color: white;
	font-weight: bold;
	cursor: pointer;
	padding: 0.5em;
	flex: 1 1 50%;
	font-size: 0.8rem;
	opacity: 0.8;
}

.button:hover {
	opacity: 0.8;
} */

.button{background-color:#d3d3d3;color:#fff;font-weight:700;cursor:pointer;padding:.5em;flex:1 1 50%;font-size:.8rem;opacity:.8}.button:hover{opacity:.8}